Retail Pricing Intelligence Dashboard 
Author: Parija Muduli
SQL Business Analysis


Query 1: Total Products
#How many products are there in the database?
query = """
SELECT COUNT(*) AS Total_Products
From retail_pricing;
"""

pd.read_sql(query,conn)

Query 2: Products by Category
#How many products are there in each category?
query = """
SELECT
    category,
    COUNT(*) AS Total_Products
FROM retail_pricing
GROUP BY category
ORDER BY Total_Products DESC;
"""

pd.read_sql(query, conn)

Query 3: Average Selling Price by Brand
#What is the average selling price of each brand?
query = """
SELECT
brand,
ROUND(AVG(current_price),2) AS Avg_Selling_Price
FROM retail_pricing
GROUP BY brand
ORDER BY Avg_Selling_Price DESC;
"""

pd.read_sql(query, conn)

Query 4: Average Markdown by Category
#Which categories receive the highest average discount?
query = """
SELECT
category,
ROUND(AVG(markdown_percentage),2) AS Avg_Discount
FROM retail_pricing
GROUP BY category
ORDER BY Avg_Discount DESC;
""" 

pd.read_sql(query, conn)

Query 5: Average Customer Rating by Brand
#Which brands have the highest customer ratings?
query = """
SELECT
brand,
ROUND(AVG(customer_rating),2) AS Avg_Rating
FROM retail_pricing
GROUP BY brand
ORDER BY Avg_Rating DESC;
"""

pd.read_sql(query, conn)

Query 6: Total Inventory by Category
# Which categories have the highest inventory?
query = """
SELECT 
category,
SUM(stock_quantity) AS Total_Stock
FROM retail_pricing
GROUP BY category
ORDER BY Total_Stock DESC;
"""

pd.read_sql(query, conn)

Query 7: Total Inventory by Season
#Which season has the highest inventory?
query = """
SELECT 
season,
SUM(stock_quantity) AS Total_Stock
FROM retail_pricing
GROUP BY season
ORDER BY Total_Stock DESC;
"""

pd.read_sql(query, conn)

Query 8: Brand-wise Inventory
#Which brands have the highest inventory?
query = """
SELECT
brand,
SUM(stock_quantity) AS Total_Stock
FROM retail_pricing
GROUP BY brand
ORDER BY Total_Stock DESC;
"""

pd.read_sql(query, conn)

Query 9: Returned Products by Category
#How many returned products does each category have?
query = """
SELECT
    season,
    SUM(stock_quantity) AS Total_Stock
FROM retail_pricing
GROUP BY season
ORDER BY Total_Stock DESC;
"""

pd.read_sql(query, conn)

Query 10: Return Rate (%) by Category
#What is the return rate for each category?
query = """
SELECT
category,
ROUND(AVG(is_returned) * 100, 2) AS Return_Rate_Percentage
FROM retail_pricing
GROUP BY category
OrDER BY Return_Rate_Percentage DESC;
"""

pd.read_sql(query, conn)

Query 11: Top 10 Most Expensive Products
#Which are the top 10 most expensive products?
query = """
SELECT
product_id,
brand,
category,
current_price
FROM retail_pricing
ORDER BY current_price DESC;
"""

pd.read_sql(query, conn)

Query 12: Top 10 Highest Discounted Products
#Which products have the highest discount?

query = """
SELECT
    product_id,
    brand,
    category,
    markdown_percentage
FROM retail_pricing
ORDER BY markdown_percentage DESC
LIMIT 10;
"""

pd.read_sql(query, conn)

Query 13: Lowest Rated Brands
#Which brands have the lowest customer ratings?
query = """
SELECT
brand,
ROUND(AVG(customer_rating), 2) AS Avg_Rating
FROM retail_pricing
GROUP BY brand
ORDER BY Avg_Rating DESC;
"""

pd.read_sql(query, conn)

Query 14: Return Reasons Analysis
#How many products were returned for each reason?
query = """
SELECT
return_reason,
COUNT(*) AS Total_Returns
FROM retail_pricing
WHERE is_returned = 1
GROUP BY return_reason
ORDER BY Total_Returns DESC;
"""

pd.read_sql(query, conn)

Query 15: Average Selling Price by Category
#Which categories have the highest average selling price?
query = """
SELECT
category,
ROUND(AVG(current_price), 2) AS Avg_Price
FROM retail_pricing
GROUP BY category
ORDER BY Avg_Price DESC;
"""

pd.read_sql(query, conn)


